$green: #3BC8AA;
$cream:  #ffeccf;
$purple: #31234e;
$pink: #ffc6c6;
$black: #1e1e1e;
$orange: #ff551a;
$lightyellow: #ffeccf;

$title: 'PT Serif', serif;
$body: 'Work Sans', sans-serif;

* {
  padding: 0;
  margin: 0;
}

header {
  background-color: $lightyellow;
  padding: 20px 30px 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.add-button {
  font-size: 36px;
  color: $green;
  text-decoration: none;
}

.review {
  padding-left: 32px;
  padding-top: 32px;
  font-size: 36px;
}

footer {
  padding-left: 32px;
  padding-top: 32px;
}

.show-container {
  padding-left: 32px;
  padding-top: 32px;
}

.actions {
  padding-top: 32px;
  color: $green;
}

main {
  min-height: calc(100vh - 150px);
}

label {
  display: block;
}

input, textarea {
  font-size: 18px;
  min-width: 400px;
  border: 1px solid #cccccc;
  padding: 7px 10px;
  font-family: inherit;
}

input[type=submit] {
  background: $orange;
  color: white;
  border-color: $orange;
}

textarea {
  min-height: 400px;
}

nav.filters {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  font-size: 14px;
  border-bottom: 2px solid $lightyellow;

  display: flex;
  align-items: center;

  a {
    margin: 0 5px 0 0;
    text-decoration: none;
    color: $black;

      &.active {
        color: $green
      }
  }

  div, form {
    margin: 0 0 0 25px;
  }

  input {
    min-width: 200px;
    font-size: 14px;
    padding: 4px 5px;
  }
}
// 
// .main-nav {
//   height: 25vh;
// }
